.table {
    width: 100%;
    table-layout: fixed;
    td {
        padding: 0.4rem;
    }
    .c-5 {
        width: 5%;
    }
    .c-10 {
        width: 10%;
    }
    .c-20 {
        width: 20%;
    }
    .c-30 {
        width: 30%;
    }
    .c-40 {
        width: 40%;
    }
    .c-50 {
        width: 50%;
    }
    .c-60 {
        width: 60%;
    }
    thead th {
        border-bottom: unset;
    }
    // .dropdown-item {
    //     color: #000000;
    //     font-size: .8125rem;
    // }
}

.dataTables_scrollBody {
    border-bottom: unset;
}

input.check-role {
    transform: scale(1.7);
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    overflow: initial;
    .table-responsive {
        overflow: inherit;
    }
}

.required:after {
    content: "*";
    color: red;
    padding-left: 5px;
}

.selectable {
    cursor: pointer
}

.hidden {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
}

.text-limit-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}