@media screen and (max-width: 1440px) {
    .product-hover{
        h4{
            font-size: 16px;
        }
    }
    .product-category-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media screen and (max-width: 1200px) {
    .banner-content {
        height: 600px;
        .banner-info {
            width: 75%;
            .banner-caption {
                width: 100%;
                margin: 0 auto;
                font-size: 30px;
                .banner-title {
                    width: 100%;
                }
            }
        }
    }
    .free {
        font-size: 25px !important;
    }
    .product-category-row {
        margin-left: -14px;
        margin-right: -14px;
    }
    .container-course {
        max-width: 100%;
    }
    .step-for-register {
        padding-bottom: 3.6rem;
    }
    .content-step {
        padding-top: 1rem;
    }
    .title-step {
        padding: 1.5rem 0 0 0;
    }
    .show-video {
        max-width: 100%;
        .h1 {
            font-size: 25px;
        }
        .h2 {
            font-size: 20px;
        }
    }
    .nav-link {
        h1 {
            font-size: 16px;
        }
    }
    .rating {
        height: 30px;
        line-height: 30px;
        font-size: 30px;
    }
    .buy-course-box {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .menu-category {
        display: none;
    }
    .menu-category-text {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .menu-img {
        width: 120px;
        height: 120px;
    }
    %btn-size{
        padding: 0px 3rem;
        font-size: 15pt;
    }
    .btn-register-now {
        @extend %btn-size
    }
    .step-for-register{
        #btn-register-step{
            @extend %btn-size
        }
    }
    .box-btn-login {
        .btn-login {
            font-size: 14px;
        }
    }
    .sort-lg{
        label{
            margin-right: 0.5rem !important;
        }
    }
    #btn_next, #btn_prev{
        display: none !important;
    }
    .product-hover{
        h4{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    html{
        font-size: 13px !important;
    }
    .banner-content {
        top: 30% !important;
        height: 600px;
        .banner-info {
            .banner-caption {
                font-size: 20px;
            }
        }
    }
    .free {
        font-size: 20px !important;
    }
    .container-home{
        max-width: 100%;
    }
    .container-course {
        max-width: 100%;
    }
    .text-login-left {
        font-size: 20px;
    }
    //.modal-login-content {
    //    height: auto !important;
    //    padding: 0 !important;
    //    .btn-close {
    //        .close {
    //            padding: 1rem 0;
    //        }
    //    }
    //}

    .sort-lg{
        display: none;
    }
    .sort-sm{
        display: block !important;
    }
    .fc .fc-toolbar-title{
        width: 250px !important;
        font-size: 24px !important;
    }
    .product-box {
        .content-product{
            height: 180px;
            padding: 1rem 0;
            .box-content-bot{

            }
        }
        .bottom-product2{
            .card-name-product{
                min-height: 120px;
                padding: 0 1rem !important;
            }
        }
    }
    .card-small{
        display: none;
    }
    .swiper-card-small{
        display: block !important;
    }
}
