@font-face {
    font-family: PingFangTC;
    src: url('/Helios_v2/public/fonts/PingFang.ttc') format('truetype');
}

html {
    font-size: 14pt;
}

.color-primary {
    svg {
        fill: var(--primary);
    }
}

.color-secondary {
    fill: var(--secondary);
}

.dropdown-menu {
    a {
        color: var(--white);
        font-size: 15pt;
    }

    a:hover {
        background: none;
        color: var(--secondary);
    }
}

.search {
    border: 2px solid #0B487D;
    border-radius: 20px;
    padding: 0.2rem !important;
    width: 309px;
    height: 37px;
    background-color: #fff;
}

.footer {
    color: var(--secondary);
    line-height: 1.45;
    padding: 4.48rem 10rem;

    .title-foot {
        margin-bottom: 0;
    }

    span {
        font-size: 13pt;
    }

    a {
        font-size: 13pt;
        color: var(--secondary);
    }

    a:hover {
        text-decoration: none;
        color: var(--white);
    }
}

@media (max-width: 991px) {
    .footer {
        padding: 4.48rem 0;
    }
}

.list-news {
    height: 20rem;
    overflow-y: auto;
}

form#certificate_form {
    select {
        font-size: 13pt;
        border: 0px var(--dark) solid;
        background: var(--dark) 0.5;
        color: var(--secondary);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

        option {
            padding: 0.2rem 1rem;
            font-size: 14pt;
            border: 2px var(--secondary) solid;
            background: var(--dark) 0.5;
            color: var(--primary);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }

        option:checked {
            background: var(--primary) 0.5;
            color: var(--secondary);
        }
    }
}

.top-news-page {
    background-color: var(--dark);
    font-size: 30pt;
    color: var(--secondary);
    font-weight: 600;
    padding: 2.54rem 0;
}

.title-course {
    color: var(--primary);
    font-size: 22pt;
    font-weight: 600;
}

.teacher-name {
    color: var(--primary);
    font-size: 18.5pt;
}

.category-link.active {
    border-radius: 0;
    color: black !important;
    background-color: var(--white) !important;
    border-bottom: 6px solid var(--secondary);
}

.category-link-text.active {
    border-radius: 0;
    color: var(--primary) !important;
    background-color: #fff !important;
    border-bottom: 6px solid var(--secondary);
}

.input-login {
    background-color: var(--white);
}

.bottom-form {
    a {
        color: var(--white);
    }
}

.btn-x {
    color: var(--secondary);
}

.btn-x:focus {
    outline: none;
}

.btn-x:hover {
    color: var(--white);
}

.product-hover:hover {
    text-decoration: none;
    color: var(--secondary);
}

.input-login {
    .input-login-item {
        font-size: 18.7pt;
    }
}

.bottom-form {
    font-size: 18.7pt;
}

.content-step {
    font-size: 18.7pt;
}

.menu-tab {
    a {
        font-size: 16pt;
        color: var(--primary);
    }
}

.share-bar {
    font-size: 15pt;
    color: var(--primary);
}

.btn-hashtag {
    background-color: var(--primary);
    color: var(--white);

    a {
        text-decoration: none;
    }
}

.btn-hashtag:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--dark);
    color: var(--white);
}

.btn-hashtag-small {
    background-color: var(--white);
    font-size: 12px;
    color: var(--primary);
    border: none;
    border-radius: 19px;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0.3rem;
    float: right;
}

.btn-read-more {
    font-size: 33.8pt;
    color: var(--primary);
    background-color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 43px;
    padding: 0 2rem;
    text-align: center;
}

.btn-read-more:focus {
    outline: none;
}

.text-comment {
    font-size: 18.7pt;
    color: var(--primary);
}

.text-forum {
    font-size: 21pt;
    color: var(--primary);
}

.btn-register-now {
    font-size: 30pt;
    color: #fff;
    border-radius: 50px;
    margin-top: 5rem;
    text-align: center;
    padding: 0.5rem 3rem;
    border: none;
    cursor: pointer;
}

.btn-register-now:focus {
    outline: none;
}


/*GUEST PRAISE-----------------------------------------*/

.title-card {
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 12rem;
}

.praise-box {
    margin-bottom: 12rem;

    .praise {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .avatar-guest {
        border-radius: 200px;
        width: 251px;
        top: -125px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .avatar {
        border-radius: 200px;
    }

    .content-praise {
        font-size: 16pt;
        padding: 10rem 1.3rem 3rem 1.3rem;
        position: unset;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.16);
    }

    .content-praise p {
        margin-bottom: 3rem;
    }
}

//PRODUCT BOX COMPONENT
.product-box {
    width: 100%;
    margin-top: 2.8rem;

    .title-product {
        width: 25%;
        padding: 0.6rem 0;
        text-align: center;
    }

    .content-top {
        text-align: center;
    }

    .content-product {
        height: 323px;
        align-items: center;
        width: 100%;
        margin-left: 0;

        .color-bar {
            width: 15px;
            height: 258px;
            background-image: linear-gradient(to right, #E6C06C, #FBB03B);
            margin: auto;
        }

        .body-product-content {
            height: 258px;
            padding: 1.76rem;
            font-size: 15.7pt;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            .content-bot {
                border: 1px solid;
                padding: 2rem 1.5rem;
                text-align: center;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            @media (max-width: 1200px) {

            }
        }
    }

    .bottom-product2 {
        height: 250px;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);

        .card-name-product {
            min-height: 125px;
            font-size: 16pt;

            .text-multiline-truncate {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                height: 110px;
            }
        }
    }
}

/*TAB PRODUCT-----------------------------------------*/

.product-tab {
    padding-bottom: 4.6rem;

    .menu-category {
        height: 226px;
        justify-content: center;
        align-items: center;
    }

    .menu-img {
        width: 184px;
    }

    #menu-img4 {
        padding-top: 2.9rem;
        padding-bottom: 2.9rem;
    }

    .menu-category-text {
        display: none;
    }

    @media screen and (max-width: 1200px) {
        .menu-category {
            display: none;
        }
        .menu-category-text {
            display: flex !important;
        }
    }
}

.menu-category-text {
    height: 226px;
    justify-content: center;
    align-items: center;
}


/*SHOW VIDEO-----------------------------------------*/

.container-video {
    border-top: 3px solid;
    border-bottom: 3px solid;
}

.show-video {
    max-width: 1438px;
    padding-top: 3rem;
    padding-bottom: 4rem;

    iframe {
        width: 100%;
    }

    .box-list-video {
        font-size: 22.5pt;
        max-width: 550px;
        height: 420px;
        overflow-y: auto;
    }
}

.rating-bar {
    max-width: 421px;
    padding-bottom: 3rem;
}

.rating-point {
    font-size: 18.7pt;
}

.ic-heart {
    width: 51px;
}


//FOOTER
.footer-builder {
    border: 2px solid;
}

/*STEP FOR REGISTER-----------------------------------------*/

.step-for-register {
    padding-bottom: 3.6rem;

    .content-step {
        max-width: 1320px;
        margin: 0 auto;

        #step2 {
            margin: 0 7rem;

        }

        .circle-step {
            width: 88px;
            height: 88px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17.3pt;
            font-weight: 600;
        }

        .title-step {
            font-weight: 600;
        }

        .row-step {
            padding: 5rem 0 3rem 0;
        }

        .col-step {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 2rem;
        }
    }

    .dot-bar {
        width: 289px;
        display: flex;
        justify-content: space-between;
    }

    .list-dot {
        width: 15px;
        height: 15px;
        border-radius: 20px;
    }

    #btn-register-step {
        font-size: 18.7pt;
    }

    @media screen and (max-width: 800px) {
        .row-step {
            display: none;
        }
        .content-step {
            padding-top: 1rem;
        }
        .title-step {
            padding: 1.5rem 0 0 0;
        }
    }

}

/*STEP FOR REGISTER-----------------------------------------*/
.body-news-page {
    background-image: url("../images/BG_news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container-news-page {
        padding-bottom: 7rem;

        .content-news-page {
            margin-top: 8rem;
            border-top: 2px solid;
            border-bottom: 2px solid;

            .show-news-item {
                margin: 0 auto;
                height: 320px;
                width: 650px;
                overflow-y: auto;
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}






