/*FREE CLASS-----------------------------------------*/

@media screen and (max-width: 768px) {
    .text-content {
        padding-right: 3rem;
    }
    .circle-check {
        left: 60%;
    }
}

@media screen and (max-width: 576px) {
    .text-content {
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        font-size: 18px;
    }
    .circle-check {
        width: 116px;
        height: 116px;
        left: 58%;
    }
    .circle-check img {
        width: 83px;
    }
}
