html,
body {
    font-size: 10.5pt;
    background-color: var(--white);
    font-family: "Source Han Sans CN";
    font-weight: 400;
    margin: 0;
}

.body-page {
    padding: 0 !important;
}

.body-content {
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-items {
    min-width: 9.2rem;
}

.dropdown-menu {
    z-index: 1002;
}

.banner {
    position: relative;
}

.category {
    z-index: 1001;
    border: 2px solid;
    background-color: rgba(15, 34, 51, 0.8);
}

.btn-collapse:focus {
    outline: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.category-content {
    padding-top: 13px;
}

.ic-cart {
    padding: 0 12px 0 5px;
}

.ip-search {
    border: 0;
    width: 80%;
    height: 100%;
    outline: none;
}

.item-header {
    font-size: 14px;
    padding: 0 0 0 2.5rem;
}

/*TAB PRODUCT-----------------------------------------*/

.menu-category-text {
    display: none;
}

@media screen and (max-width: 1200px) {
    .menu-category {
        display: none;
    }
    .menu-category-text {
        display: flex !important;
    }
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0b487d;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/*FREE CLASS-----------------------------------------*/

.free-class-container {
    min-height: 437px;
    background-image: url("../images/freeclass-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4rem 0 4rem 0;
}

.border-right-radius {
    transform: translate(-500px);
    border: 5px solid;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-left: 0 !important;
    width: 67.5vw;
}

.text-content {
    padding: 2rem 5rem 2rem 0;
    font-weight: 600;
}

.text-information {
    text-align: center;
    max-width: 370px;
}

.circle-check {
    left: 64%;
    border-radius: 50%;
    width: 172px;
    height: 172px;
}

@media screen and (max-width: 768px) {
    .text-content {
        padding-right: 3rem;
    }
    .circle-check {
        left: 60%;
    }
}

@media screen and (max-width: 576px) {
    .text-content {
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        font-size: 18px;
    }
    .circle-check {
        width: 116px;
        height: 116px;
        left: 58%;
    }
    .circle-check img {
        width: 83px;
    }
}

/*LOGIN MODAL--------------------------------------------------------------------------------------------------*/

.modal-body-login {
    display: flex;
    align-items: center;
}

.modal-login-content {
    border: 3px solid;
    border-radius: 1rem;
    background-color: rgba(10, 10, 125, 0.8);
    padding: 1rem;
}

.modal-index {
    z-index: 16000170;
}

.login-title {
    font-size: 20px;
}

.btn-register-now:focus {
    outline: none;
}

.line-or hr {
    width: 100%;
    border: 1px solid #fff;
}

.line-or {
    max-width: 352px;
    font-size: 20px;
    justify-items: center;
    margin: 0.5rem;
}

.input-login {
    max-width: 325px;
    border-radius: 50px;
    padding: 0.8rem 1rem;
}

#item1 {
    margin-bottom: 1rem;
}

.check {
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    position: relative;
}

.check:before {
    background-color: #fff;
}

.input-login-item {
    border: none;
    width: 90%;
    height: 100%;
}

.input-login-item:focus {
    outline: none;
}

.bottom-form {
    width: 100%;
}

.text-login-left {
    width: fit-content;
}

/*@media (max-width: 1200px) {*/

/*    .btn-close {*/

/*        display: inline-block;*/

/*    }*/

/*}*/

/*LATEST NEW PAGE--------------------------------------------------------------------------------------------------*/

.show-news-item-collapse {
    display: none;
    margin: 0 auto;
    height: fit-content;
}

.bottom-collapse {
    margin-top: 5.7rem;
}

.btn-more {
    height: 37px;
    padding: 0 1.5rem;
    border: 2px solid;
    border-radius: 19px;
}

.btn-more:hover {
    cursor: pointer;
}

.btn-more:focus {
    outline: none;
}

.text-14 {
    font-size: 10.5pt;
}

.card-profile {
    max-width: 700px;
}

/*CARD PAYMENT--------------------------------------------------------------------------------------------------*/

.card-pay {
    max-width: 450px;
    height: 240px;
    border-radius: 10px;
}

.card-before {
    left: 31%;
    bottom: 25%;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.16);
}
